body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
      padding: 0;
      overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" className="tasteful-box" ><rect x={xCoord} y={yCoord} width={1} transform={rotateVector} height={1} fill={primaryColor} stroke={primaryColor} strokeWidth={32} /></svg>')
  }