

.tasteful-box {
  width: 100vw;
  height: 100vw;
}

.tasteful-rectangle {
  width: 100vw;
  height: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
